
<ion-content ng-controller="loginCtrl">


        <section class="card login_box">
                <h2 class="title2"><span>用户登录</span></h2>
                <div class="clearfloat">
                        <div class="login">
                                <dl class="clearfloat">
                                        <dt><span class="tips">用户名不能为空</span>用户名：</dt>
                                        <dd>
                                                <input ng-model="uname" type="text" id="uname" placeholder="邮箱/手机号"/>
                                                <em class="icon_user"></em>
                                                <i class="icon_error"></i>
                                        </dd>
                                </dl>
                                <dl>
                                        <dt><span class="tips">密码不能为空</span>密码：</dt>
                                        <dd>
                                                <input ng-model="pwd" type="password" id="upwd" placeholder="密码"/>
                                                <em class="icon_pwd"></em>
                                                <i class="icon_error"></i>
                                        </dd>
                                </dl>
                                <p class="clearfloat">
                                        <button type="button" id="login" ng-click="login()">立 即 登 录</button>
                                        <p>{{error}}</p>
                                </p>

                        </div>

                </div>
        </section>
</ion-content>