<div class="tabs-stable" id="iweb_footer">
    <div class="tabs">
        <a class="tab-item" ng-class="footerTabIndex==0?'active':''" href="#/index" ng-click="footerTabChanged(0)">
            <i class="icon ion-home"></i>
        </a>
        <a class="tab-item" ng-class="footerTabIndex==1?'active':''" href="#/list/0" ng-click="footerTabChanged(1)">
            <i class="icon ion-clipboard"></i>
        </a>
        <a class="tab-item" ng-class="footerTabIndex==2?'active':''" href="#/cart" ng-click="footerTabChanged(2)">
            <i class="icon ion-android-cart"></i>
        </a>
        <a class="tab-item" ng-class="footerTabIndex==3?'active':''" href="#/user" ng-click="footerTabChanged(3)">
            <i class="icon ion-person"></i>
        </a>
    </div>
</div>